<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <title> YAF WCI Krugersdorp Attendance Form</title>
</head>
<body>
    <h2>YAF WCI Krugersdorp Attendance Check-In</h2>
    <div class="container">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <div class="alert">
          <ul>
            {% for message in messages %}
              <li>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      {% endif %}
    {% endwith %}

    <form method="POST" action="/form">
      <label for="name">First Name</label>
      <input type="text" id="name" name="name" required>

      <label for="surname">Surname</label>
      <input type="text" id="surname" name="surname" required>

      <label for="phone">Phone Number</label>
      <input type="tel" id="phone" name="phone" required>

      <label for="status">Status</label>
      <select id="status" name="status" required>
        <option value="">Choose...</option>
        <option value="first-timer">First Timer</option>
        <option value="regular">Regular</option>
      </select>

      <button type="submit">Submit</button>
    </form>
  </div>
  <a href="{{ url_for('admin') if request.path == url_for('form') else url_for('form') }}" class="fab" title="Switch View">
    {{ "📋" if request.path == url_for('form') else "📝" }}
  </a>


</body>
</html>
